.qwe {
    border-radius: 5px;
    font-family: Open sans-serif;
}
.asd {
    border-radius: 5px;
    font-family: Open sans-serif;
}
.zxc {
    border-radius: 5px;
    font-family: Open sans-serif;
}
